.hidden{
  display: none;
}
.survey{
  background-color:lightblue;
  padding: 40px;
  border: solid darkgrey;
  border-radius: 20px;
}
.button{
  border-radius:10px;
  width: 450px;
}
.surveyAnswer{
  background-color:lightblue;
  padding: 40px;
  border: solid black;
}