.hidden{
  display: none;
}
.survey{
  background-color:lightblue;
  padding: 40px;
  border: solid black;
  border-radius: 20px;
}
.button{
  border-radius:10px;
  width: 450px;
}
.surveyAnswer{
  background-color:lightblue;
  padding: 40px;
  border: solid darkgrey;
}
.Lessons{
 margin-top: 310px;
}
.lessonImg{
  border: solid black;
  border-radius:10px;
}
h1{
  allign: center;
}
h3{
  font-size: 15px;
}